@media (max-width: 820px){
    .home.section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .about.section{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .projects.section .container-projects{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}