html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
}

body{
    display: grid;
    grid-template-areas: 'header header header'
                         'home home home'
                         'about about about'
                         'skills skills skills'
                         'projects projects projects'
                         'footer footer footer';
}

#title{
    font-family: 'Hacked', sans-serif;
    font-style: italic;
    color: var(--cor-span);
    font-size: 40px;
    margin-bottom: 80px;
}

/* HEADER */

.header{
    grid-area: header;
    background-color: var(--cor-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    padding: 10px 7%;
}

.header .logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-span);
    text-decoration: underline;
    border: 2px solid var(--cor-span);;
    border-radius: 50%;
    padding: 15px;
    transition: 0.3s ease-in-out;
}


.header .logo:hover{
    color: #fff;
    border-color: #fff;
}



.header nav ul{
    display: flex;
    gap: 20px;
    font-size: 2rem;
}


/* HOME */

.home{
    grid-area: home;
    background-color: var(--cor-primaria);
    height: 89vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: relative;
}

.home .title h1{
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.home .title .name {
    font-weight: 500;
    margin: 20px 0;
    color: #fff;
    font-size: 6rem;
    line-height: 100px;
}

.home .title .glitch{
    font-family: 'Hacked', sans-serif;
    font-style: italic;
    color: var(--cor-span);
    font-weight: 400;
    
}

.home .container-buttons{
    margin-top: 25px;
    display: flex;
    gap: 80px;
}


.buttons{
    color: #fff;
    display: flex;
    align-items: center;
    border: 2px solid var(--cor-span);
    padding: 15px;
    border-radius: 10px;
    width: 155px;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    gap: 7px;
    transition: 0.3s ease-in-out;
}

.buttons:hover{
    background-color: var(--cor-span);
    border-color: #fff;
    text-shadow: 1px 1px 3px #fff;
}

.home .image-width{
    width: 25px;
}

.home .img-home{
    width: 450px;
    margin-right: 10%;
    animation: float 5s infinite;
}

.home .scroll-down img{
    width: 15px;
    height: 15px;
    animation: float 6s infinite;
    animation: scroll-down 3s infinite forwards;
}
.home  .scroll-down a{
    display: flex;
    white-space: nowrap;
    gap: 15px;
}

.home .scroll-down{
    position: absolute;
    bottom: 0;
    right: 50%;
    padding: 20px;
}

.home .scroll-down p{
    font-size: 1.3rem;
    color: var(--cor-span);
    font-weight: 800;
    transition: 0.3s ease-in-out;
    font-style: italic;
}

.home .scroll-down p:hover{
    color: #fff;
}

@-webkit-keyframes float {
    0%{transform: translateY(0);}

    50%{transform: translateY(-30px);}

    100%{transform: translateY(0);}
}

@keyframes scroll-down {
    0% {
      opacity: 0;
      transform: translate3d(0, -15px, 0);
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 10px, 0);
    }
  }

  


/* ABOUT */

.about{
    grid-area: about;
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
}

.about .myphoto{
    width: 400px;
    
}

.about .container-about{
    color: #fff;
    max-width: 900px;
    margin-left: -5%;
}

.about .title-about{
    font-family: 'Hacked', sans-serif;
    font-style: italic;
    color: var(--cor-span);
    font-size: 3rem;
    margin-bottom: 20px;
}

.about .description-about{
    font-size: 1.8rem;
    font-weight: 200;
    margin: 20px 0 30px 0;
}

.section{
    padding: 5% 10%;
}
.about .sub-title{
    font-size: 1.8rem;
}


/* SKILLS */

.skills{
    grid-area: skills;
    background: linear-gradient(180deg, var(--cor-secundaria) 50%, #021d02 200%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    padding: 5% 8%;
    gap: 25%;
}

.skills .description-skills{
    color: #fff;
    font-size: 1.8rem;
    width: 100%;
    justify-content: center;
}

.skills .description-skills span{
    color: var(--cor-span);
    text-transform: uppercase;
    font-weight: 600;
}

.skills .description-skills .title-skills{
    margin-bottom: 10px;
    font-family: 'hacked', sans-serif;
    font-style: italic;
    color: var(--cor-span);
    font-size: 3rem;
}


.skills .skills-charts canvas{
    width: 600px;
    font-weight: 600;
}


/* PROJECTS */

.projects{
    grid-area: projects;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
}

.projects h2{
    font-family: "Hacked", sans-serif;
    color: var(--cor-span);
    font-size: 3rem;
    text-align: start;
    margin-bottom: 30px;
    font-style: italic;
}

.projects .container-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
}


.projects .container-projects .card img{
    transition: 0.5s;
    width: 100%;
    border-bottom: 5px solid #063d06;
}

.projects .container-projects .card img:hover{
    transform: scale(110%);
    border-bottom: 5px solid var(--cor-span);
}

.projects .container-projects .card h3{
    font-size: 2.4rem;
    margin: 20px 0 20px 0;
    color: #fff;
}

.projects .container-projects .card p{
    font-size: 1.5rem;
    color: var(--cor-span);
}

.projects .container-projects .card .unavailable{
    filter: blur(2px);
}


/* FOOTER */

.footer{
    grid-area: footer;
    background-color: var(--cor-header);
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.footer a{
    color: var(--cor-span);
    font-weight: 600;
    transition: 0.4s;
}

.footer a:hover{
    color: #0bcc0b;
}

@media(max-width: 820px){
    .home.section{
        display: flex;
        flex-direction: column;
        height: 90vh;
    }

    .home.section .name{
        font-size: 4rem;
    }

    .home.section h1{
        font-size: 2.5rem;
    }

    .home.section .scroll-down{
        display: none;
    }

    .home.section .img-home{
        width: 400px;
    }

    .skills.section{
        display: flex;
        flex-direction: column;
    }


    .about.section{
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
        height: 1000px;
    }

    .projects.section .container-projects{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    .projects.section h2{
        margin-bottom: 80px;
        font-size: 40px;
    }

    .skills .skills-charts canvas{
        width: 400px;
        font-weight: 600;
    }
}





