html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: grid;
    grid-template-areas: 'header header header'
                         'home home home'
                         'about about about'
                         'projects projects projects'
                         'footer footer footer';
}

/* HEADER */

.header{
    grid-area: header;
    background-color: var(--cor-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    padding: 10px 7%;
}

.header .logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-span);
    text-decoration: underline;
    border: 2px solid var(--cor-span);;
    border-radius: 50%;
    padding: 15px;
}



.header nav ul{
    display: flex;
    gap: 20px;
    font-size: 2rem;
}


/* HOME */

.home{
    grid-area: home;
    background-color: var(--cor-primaria);
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.home .title{
    font-size: 3.5rem;
    color: #fff;
    margin-left: 2%;
    text-transform: uppercase;
    font-weight: 400;
}

.home .title .name {
    font-weight: 500;
    margin: 20px 0;
    color: #fff;
    font-size: 6rem;
}

.home .title .glitch{
    font-family: 'Hacked', sans-serif;
    font-style: italic;
    color: var(--cor-span);
    font-weight: 400;
    
}

.home img{
    width: 400px;
    margin-right: 10%;
}


@-webkit-keyframes float {
    0%{transform: translateY(0);}

    50%{transform: translateY(-20px);}

    100%{transform: translateY(0);}
}


/* ABOUT */

.about{
    grid-area: about;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0px;
}

.about img{
    width: 400px;
    animation: float 6s infinite;
}

.about .container-about{
    color: #fff;
    max-width: 900px;
    margin-left: -5%;
}

.about .title-about{
    font-family: 'Hacked', sans-serif;
    font-style: italic;
    color: var(--cor-span);
    font-size: 3rem;
    margin-bottom: 20px;
}

.about .description-about{
    font-size: 2rem;
    font-weight: 100;
}